In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandasql
import gc

In [2]:
from numba import jit

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [9]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [4]:
%%time
test1 = pd.read_csv('test1.csv',dtype={'object_id':np.int32,'mjd':np.float16,\
                                                   'passband':np.int8,'flux':np.float32,'flux_err':np.float32,'detected':np.int8})

CPU times: user 26.6 s, sys: 1.08 s, total: 27.7 s
Wall time: 27.7 s

In [5]:
test1['mjd'] = test1['mjd'].apply(lambda x: x*86400 - 40587*86400 )

In [10]:
test1.head()

   object_id        mjd  passband  flux  flux_err  detected
0         13 1660694400         2    -1         1         0
1         13 1660694400         1    -2         1         0
2         13 1660694400         3    -1         2         0
3         13 1660694400         4    -4         3         0
4         13 1660694400         5    -3         5         0

In [ ]:
%%time
test1['date'] = pd.to_datetime(test1['mjd'],unit='s')

In [ ]:
test_13 = test1[test1['object_id'] == 13]

In [ ]:
test_1106 = test1[test1['object_id'] == 1106]

In [ ]:
print(test_13.shape)

In [ ]:
print(test_1106.shape)

In [ ]:
test_13.head()

In [ ]:
test_1106.head()

In [ ]:
test_13.info()

In [ ]:
test_13['mjd'].plot(kind='line')

In [ ]:
test_1106['mjd'].plot(kind = 'line' )

In [ ]:
test_32300= test1[test1['object_id'] == 32300]

In [ ]:
print(test_32300.shape)

In [ ]:
test_32300['mjd'].plot(kind='line')

In [ ]:
%%time
x = test1.copy()
print("A")
x['mjd'] = x.groupby(['object_id','passband']).mjd.diff() #Try and give the change in flux by a standard time period
print("B")
x['mjd'] = x['mjd'].fillna(0)
x.flux/=x.mjd
x.flux_err/=x.mjd
x.head()

In [ ]:
x.tail()

In [ ]:
x.shape

In [ ]:
x[x['mjd'] > 0].shape

In [ ]:
%%time
x['cc'] = x.groupby(['object_id','passband'])['mjd'].cumcount()
#x.drop('mjd',inplace=True,axis=1)

In [ ]:
x.tail()