In [1]:
import pandas as pd

In [2]:
import dask.dataframe as dd

In [3]:
from tqdm import tqdm

In [4]:
%%time
test_pred_9 = dd.read_csv('test_pred_9.csv')
test_pred_10 = dd.read_csv('test_pred_10.csv')
test_pred_9 = test_pred_9.compute()
test_pred_10 = test_pred_10.compute()
print(test_pred_9.shape,test_pred_10.shape)

(3492890, 16) (3492890, 16)
CPU times: user 32.8 s, sys: 3.05 s, total: 35.9 s
Wall time: 7.68 s

In [13]:
test_pred_9.tail()

,object_id,class_6,class_15,class_16,class_42,class_52,class_53,class_62,class_64,class_65,class_67,class_88,class_90,class_92,class_95,class_99
126457,130787966,0.000723,0.160627,0.000785,0.183239,0.205325,0.001040,0.052397,0.000593,0.005753,0.037750,0.003153,0.346658,0.000514,0.001443,0.175674
126458,130787971,0.000966,0.081358,0.000918,0.093733,0.054454,0.001020,0.045046,0.067337,0.001126,0.034161,0.004855,0.603599,0.000950,0.010477,0.144373
126459,130787974,0.001617,0.053374,0.000423,0.749300,0.012279,0.000766,0.162349,0.000254,0.000456,0.002372,0.001288,0.012298,0.000431,0.002793,0.105351
126460,130788053,0.000506,0.556895,0.000774,0.236457,0.039332,0.000567,0.032034,0.044841,0.001239,0.003678,0.000919,0.081237,0.000382,0.001138,0.150161
126461,130788054,0.000629,0.174355,0.000611,0.439649,0.185101,0.000855,0.051465,0.000655,0.000851,0.013976,0.001520,0.127997,0.000580,0.001755,0.168195

In [14]:
test_pred_10.tail()

,object_id,class_6,class_15,class_16,class_42,class_52,class_53,class_62,class_64,class_65,class_67,class_88,class_90,class_92,class_95,class_99
70229,130787966,3.215009e-08,0.129863,0.000007,0.253988,0.162367,0.000056,0.029084,0.000198,0.000029,0.021101,0.012317,0.259967,0.000046,0.000542,0.130435
70230,130787971,6.328796e-07,0.079787,0.000004,0.126528,0.108416,0.000015,0.032939,0.003081,0.000002,0.039257,0.000833,0.474827,0.000004,0.003872,0.130435
70231,130787974,2.339178e-05,0.211411,0.000362,0.541280,0.020313,0.000095,0.078598,0.000072,0.000002,0.001456,0.002222,0.012121,0.000041,0.001571,0.130435
70232,130788053,5.743379e-07,0.732532,0.000023,0.073093,0.008491,0.000011,0.018087,0.007704,0.000009,0.002945,0.000131,0.026233,0.000082,0.000223,0.130435
70233,130788054,1.131007e-07,0.469598,0.000003,0.190364,0.050725,0.000020,0.043247,0.001782,0.000023,0.011298,0.000179,0.102096,0.000035,0.000196,0.130435

In [15]:
%%time
test_pred_9 = test_pred_9.reset_index(drop=True)
test_pred_10 = test_pred_10.reset_index(drop=True)

CPU times: user 147 ms, sys: 281 ms, total: 428 ms
Wall time: 426 ms

In [16]:
%%time
test_ensemble = pd.DataFrame()

CPU times: user 289 µs, sys: 62 µs, total: 351 µs
Wall time: 358 µs

In [17]:
%%time
test_ensemble = test_pred_9*0.5 + test_pred_10*0.5

CPU times: user 567 ms, sys: 907 ms, total: 1.47 s
Wall time: 1.47 s

In [18]:
test_ensemble.shape

(3492890, 16)

In [19]:
test_ensemble['object_id'] = test_ensemble['object_id'].apply(lambda x: int(x))

In [21]:
test_ensemble.shape

(3492890, 16)

In [22]:
test_ensemble.to_csv('test_pred_11.csv',index=False)